@charset "UTF-8"

body{
    background-color: cyan; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color: limegreen;
    background-color: rgb(12, 143, 99);
}
h2 {
    color: magenta;
}
p{
    text-align: justify;
}