@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    
    background-image: linear-gradient(to top,#CCB035, #FCDA42,#FDE88E);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #332c0c;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #7D6C20;
    text-align: center;
    text-shadow: 1px 1px 2px #524716 ;
}
h2{
    color: #FCDA42;
    text-shadow: 1px 1px 2px #584d18;
}
p{
    text-align: justify;
}